{% extends 'layout.html' %}

{% block body %}
    <h1>Редактирование</h1>
	{% from "includes/_formhelpers.html" import render_field %}
	<form method="POST" action="" >
	    <div class="form-group">
			{{ render_field(form.model_ru, class_="form-control") }}
		</div>
		<div class="form-group">
			{{ render_field(form.model_eng, class_="form-control") }}
		</div>
	    <div class="form-group">
			{{ render_field(form.c_year, class_="form-control") }}
		</div>
		<p><input class="btn btn-primary" type="submit" value="Подтвердить">
	</form>
{% endblock %}
